body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color: rgb(93, 89, 37);
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  word-spacing: 2.4px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}

.component{
  border: 3px solid wheat;
  border-radius: 25px;
  padding: 4vw;
}

@media (max-width: 800px) {
  .dashboard-container {
    /* Change gradient to go from top to bottom */
    background: linear-gradient(159deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
}