body{
  background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #1e414d 32px), repeating-linear-gradient(#4346ec, #4346ec);
  background-color: #1e414d;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  word-spacing: 2.4px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}

.component {
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #d2d2d2 32px), repeating-linear-gradient(#fafafa, #fafafa);
  background-color: #d2d2d2;
  border: 3px solid wheat;
  height: 80vh;
  border-radius: 25px;
  padding: 4vw;
  overflow: auto; /* Scroll overflow */
}


@media (max-width: 800px) {
  .component{
    height: 55vh;
  }
}

